In [1]:
num = 1

while num <= 5:
    print('Aditya')
    num += 1   #=> num = num + 1

Aditya
Aditya
Aditya
Aditya
Aditya

In [2]:
print(num)

6

In [3]:
# print numbers from 25 to 50 using while loop

num = 25

while num <= 50:
    print(num)
    num += 1

25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [4]:
# find the addition of numbers from 1 to 10

num = 1
add = 0

while num <= 10:
    add = add + num
    num += 1

print('Addition:', add)

Addition: 55

In [5]:
# find the addition of odd number from 1 to 20

num = 1
add = 0

while num <= 20:
    add = add + num
    num += 2

print('Addition:', add)

Addition: 100

In [8]:
# find the factorial
# 5! = 5 x 4 x 3 x2 x1 =120

fact = 1
num = int(input('Enter the number '))

while num > 1:
    fact = fact * num
    num -= 1

print("Factorial is:", fact)

Enter the number 10
Factorial is: 3628800

In [12]:
# find the addition of digits
# ex: 12345 = 1 + 2 + 3 + 4 + 5 = 15

num = int(input('Enter the number '))
add = 0

while num > 0:
    rem = num % 10
    add = add + rem
    num = num // 10
    
print('Addition of digits:', add)

Enter the number 12345
Addition of digits: 15

In [9]:
12345 % 10

5

In [10]:
12345 // 10

1234

In [11]:
1234 % 10

4

In [ ]:
# infinite loop
num = 1

while num <= 5:
    print('Aditya')

#### For Loop

In [13]:
for n in 45,34,21,55,7:
    print(n)

45
34
21
55
7

In [14]:
for n in 45,34,21,55,7:
    print(n*n)

2025
1156
441
3025
49

In [19]:
for n in 45,34,21,'Aditya',True,55,7:
    print(n, end = ' ')

45 34 21 Aditya True 55 7

In [20]:
# Range function

In [22]:
list(range(10))   # range(n) => 0, n - 1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [23]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [24]:
list(range(1,10,2))  # start, end, step

[1, 3, 5, 7, 9]

In [25]:
for n in range(5):
    print(n)

0
1
2
3
4

In [27]:
for n in range(5):
    print("Aditya")

Aditya
Aditya
Aditya
Aditya
Aditya

In [28]:
# addition of first 10 natural numbers

add = 0
for num in range(1,11):
    add = add + num
print('Addition:', add)

Addition: 55

In [29]:
# Loop control statements

In [31]:
for i in range(10):
    if i == 5:
        break
    print(i)

0
1
2
3
4

In [33]:
for i in range(10):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9

In [34]:
for i in range(10):
    if i == 5:
        print('OK')
    print(i)

0
1
2
3
4
OK
5
6
7
8
9

In [36]:
num = 50

if num < 100:
    pass