In [1]:
class Employee():
    pass

In [2]:
emp1 = Employee()
emp2 = Employee()

In [3]:
print(emp1)
print(emp2)

<__main__.Employee object at 0x7f4712945b10>
<__main__.Employee object at 0x7f4700dac050>

In [4]:
emp1.first = 'Aditya'
emp1.last = 'Thakare'
emp1.salary = 51000

emp2.first = 'Parag'
emp2.last = 'Patel'
emp2.salary =49000

In [5]:
print(emp1.first)

Aditya

In [6]:
print(emp2.last)

Patel

In [12]:
class Employee():
    def __init__ (self, first, last, salary):
        self.first = first
        self.last = last
        self.salary = salary
        
    def show(self):
        print(self.first + ' ' + 'OK')

In [13]:
emp1 = Employee('Aditya','Thakare',51000)

In [14]:
emp1.first

'Aditya'

In [15]:
emp2 = Employee('Parag', 'Patel', 49000)

In [16]:
emp2.salary

49000

In [17]:
emp1.show()

Aditya OK

In [18]:
emp2.show()

Parag OK

In [ ]:
# create a 'Car' class
# attribute => car brand name, distance travelled, time taken
# distance is in m, time is in minutes
# create a method to calculate speed of the car

In [19]:
class Car():
    def __init__ (self, brand, distance, time):
        self.brand = brand
        self.distance = distance
        self.time = time
        
    def get_speed(self):
        print(self.distance / (self.time*60),'m/s')

In [20]:
car1 = Car('tata', 5000, 10)

In [21]:
car1.get_speed()

8.333333333333334 m/s

In [92]:
class Employee1():
    def __init__ (self, first, last, salary):
        self.first = first
        self.last = last
        self.__salary = salary
        
    def show1(self):
        print('Salary:', self.__salary)

In [93]:
emp1 = Employee1('Aditya','Thakare',51000)

In [94]:
emp2 = Employee1('Parag', 'Patel', 49000)

In [95]:
emp1.first

'Aditya'

In [96]:
emp1.salary

AttributeError: 'Employee1' object has no attribute 'salary'

In [97]:
emp1.show1()

Salary: 51000

In [102]:
class Empl(Employee1):
    pass

In [103]:
emp3 = Empl('John', 'Wick', 10000000)

In [104]:
emp3.show1()

Salary: 10000000