In [1]:
class Employee():
    pass

In [2]:
emp1 = Employee()
emp2 = Employee()

In [3]:
print(emp1)

<__main__.Employee object at 0x7f1a685753d0>

In [4]:
print(emp2)

<__main__.Employee object at 0x7f1a6842f2d0>

In [5]:
emp1.first = 'Aditya'     # instance variables
emp1.last = 'Thakare'
emp1.salary = 51000

In [6]:
emp2.first = 'Riya'
emp2.last = 'Desai'
emp2.salary = 48000

In [7]:
print(emp1.first)

Aditya

In [8]:
print(emp2.salary)

48000

In [9]:
class Employee():
    def __init__ (self,first,last,salary):
        self.first = first
        self.last = last
        self.salary = salary

In [10]:
emp1 = Employee('Aditya','Thakare', 51000)

In [11]:
emp1.salary

51000

In [12]:
emp2 = Employee('Parag','Patel', 47000)

In [13]:
emp2.last

'Patel'

In [18]:
class Employee2():
    def __init__ (self,first,last,salary):
        self.first = first
        self.last = last
        self.salary = salary
        
    def show(self):
        print(self.first + ' ' + 'OK')

In [19]:
emp1 = Employee2('Aditya','Thakare', 51000)
emp2 = Employee2('Parag','Patel', 47000)

In [20]:
emp1.show()

Aditya OK

In [24]:
# Create a method to show anual salary of the emp

class Employee2():
    def __init__ (self,first,last,salary):
        self.first = first
        self.last = last
        self.salary = salary
        
    def show(self):
        print(self.first + ' ' + 'OK')
        
    def annual_sal(self):
        print('Annual Salary is:', self.salary * 12)

In [25]:
emp1 = Employee2('Aditya','Thakare', 51000)
emp2 = Employee2('Parag','Patel', 47000)

In [26]:
emp1.annual_sal()

Annual Salary is: 612000

In [27]:
# create a class called car
# attributes => name, distance, time
# create the method to calculate the speed of the car 
# distance in m, time in minutes

In [28]:
class Car():
    def __init__(self,name,distance,time):
        self.name=name
        self.distance=distance
        self.time=time
    def speed(self):
        print("The name of car is =",self.name)
        print("Speed of car is =",self.distance/self.time)

In [29]:
c=Car('Toyota',500,5)
c.speed()

The name of car is = Toyota
Speed of car is = 100.0

In [30]:
class Car():
    
    def __init__ (self, name, distance, time):
        self.name = name
        self.distance = distance
        self.time = time
        
    def get_speed(self):
        print('Speed of the car is:', self.distance/(self.time*60),'m/s')

In [31]:
car1 = Car('Tata', 5000, 6)

In [32]:
car1.get_speed()

Speed of the car is: 13.88888888888889 m/s

In [43]:
# Encapsulation
# make the instance variable private
class Employee2():
    def __init__ (self,first,last,salary):
        self.first = first
        self.last = last
        self.__salary = salary
        
    def show(self):
        print(self.first + ' ' + 'OK')

In [44]:
emp1 = Employee2('Aditya','Thakare', 51000)
emp2 = Employee2('Parag','Patel', 47000)

In [45]:
emp1.salary

AttributeError: 'Employee2' object has no attribute 'salary'

In [50]:
class Employee2():
    def __init__ (self,first,last,salary):
        self.first = first
        self.last = last
        self.__salary = salary
        
    def show_sal(self):
        print('Salary is:', self.__salary)

In [51]:
emp1 = Employee2('Aditya','Thakare', 51000)
emp2 = Employee2('Parag','Patel', 47000)

In [52]:
emp1.show_sal()

Salary is: 51000

In [56]:
# Inheritance

class Empl(Employee2):
    pass

# Empl => subclass
# Employee2 => Superclass

In [57]:
emp3 = Empl('Raj', 'Jain', 30000)

In [58]:
emp3.first

'Raj'

In [60]:
def isempty(l):
    if len(l) == 0:
        print('Empty')
    else:
        print('Not empty')

In [61]:
l1 = []

In [62]:
isempty(l1)

Empty

In [63]:
l2 = [54,23]

In [64]:
isempty(l2)

Not empty